*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: #614BC3;
    color: #525252;
}

nav{
    background: 1a1a1a;
    width: 100%;
    height: 100px;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #000000;
    
}

.logo{
    width: 70px;
}
.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

nav ul{
    width: 100%;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

nav ul li a.open-menu{
    max-height: 400px;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 5%;
    width: 290px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;

}

.sub-menu-wrap.open-menu{
    max-height: 400px;

}
.sub-menu{
    background: #a4a4a4;
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;

}

.user-info h2{
    margin-left: 10px;
    font-weight: 500;
}

.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-left: 15px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    background: #0f0f0f;
    margin: 15px 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}


/* CUDE ANIMATION */
.area{
    background: #614BC3;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:120vh;
    position: relative;
  
  }
  
  .circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
  }
  
  .circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  
  
  .circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }
  
  .circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }
  
  .circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }
  
  .circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }
  
  .circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }
  
  .circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }
  
  .circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }
  
  .circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
  }
  
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .context h2 {
        font-size: 4rem; /* Adjust font size for smaller screens */
    }
  
    .circles li:nth-child(1) {
        width: 40px; /* Adjust circle size for smaller screens */
        height: 40px;
    }
  
    /* Adjust other circle sizes as needed for smaller screens */
  }
  
  @media (max-width: 480px) {
    .context h2 {
        font-size: 3rem; /* Further adjust font size for smaller screens */
    }
  
    .circles li:nth-child(1) {
        width: 30px; /* Further adjust circle size for smaller screens */
        height: 30px;
    }
  
    /* Further adjust other circle sizes as needed for smaller screens */
  }
  
  
  
  
  @keyframes animate {
  
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
  
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
  
  }