*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: #eceaff;
    color: #525252;
}

nav{
    background: 1a1a1a;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo{
    width: 120px;
}
.user-pi{
    width: 40%;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}