@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

        /* book loading */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
    
}
h1{
   font-family: 'Concert One', cursive; 
   color: #F2F5C8;
   text-align: center;
   font-size: 100px;
   margin-bottom: 400px;
}

.loader-container {
    margin-top: 400px;
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

/* animation tuklasko */
:root {
  --color: #ffffff;
  --background: #2196f3;
}

body{
  font-family: 'Baloo Tamma', cursive;
  background: var(--background);
  color: var(--color);
  transition: 4s;
}

h2{
  text-align: center;
  width: 100%;
  margin: 0px auto;
  font-size: 80px;
  letter-spacing: 5px;
  top: 50%;
  position: absolute;
  margin-top: -40px;
  transition: 4s;
  
  text-shadow: -1px -1px 0px var(--background),
    3px 3px 0px var(--background),
    6px 6px 0px #00000055;
}
/* button  */
#startButton{
    margin-top: 490px;
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: #cc99ff;
    width: 260px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #040404;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
#startButton:hover, #startButton:focus, #startButton:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#startButton {
	padding: 20px 50px;
	border: unset;
	border-radius: 15px;
	color: #000000;
	z-index: 1;
	background: #e8e8e8;
	position: relative;
	font-weight: 1000;
	font-size: 17px;
	-webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	transition: all 250ms;
	overflow: hidden;
   }
   #startButton::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 0;
	border-radius: 15px;
	background-color: #4368c5e9;
	z-index: -1;
	-webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	box-shadow: 4px 8psx 19px -3px rgba(0,0,0,0.27);
	transition: all 250ms
   }
   #startButton:hover {
	color: #e8e8e8;
   }
   
   #startButton:hover::before {
	width: 100%;
   }