@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Lilita+One&family=Roboto:wght@700&display=swap');


body{
    margin: 0;
    padding: 0;
    background: #FF8989;
}
/* toggle function */
.toggle{
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 2
}
.toggle a{
    text-decoration: none;
    color: #262626;
    font-size: 60px;
    cursor: pointer;
    font-weight: bold;

}

ul{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
ul li{
    list-style: none;
}

ul li a{
    padding: 10px;
    display: inline-block;
    font-family: 'ADLaM Display', cursive;
    font-family: 'Lilita One', cursive;
    font-size: 3em;
    text-decoration: none;
    text-transform: uppercase;
    color: #262626;
}
ul li a:hover{
    background: #FFFC85;
    border-radius: 10px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 200,
  'opsz' 60,
  
}



.header h1{
    text-align: center;
    font-family: 'Lilita One', cursive;
    font-size: 3rem;
    margin-top: 100px;
}

.container {
    display: none;
    padding: 20px;
    background-color: #f0f0f0;
    margin-top: 5px;
    width: 50%;
    margin: 40px auto; /* Center the container horizontally */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #242325d7;
    border-radius: 20px;
}


/* video1 style */
#video-container {
    max-width: 800px;
    margin: 0 auto;

}

#video-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#skip-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    margin: 0 10px;
    display: flex;
}

#playButton{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    margin: 0 10px;
    display: flex;
} 

/* video2 */
#video-controls2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


#skip-button2 {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    margin: 0 10px;
    display: flex;
}

#playButton2{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    margin: 0 10px;
    display: flex;
} 


body{
    text-align:center;
    background-color:#9C9EFE;
  }
  
  .button{
    position:relative;
    display:inline-block;
    
  }
  
  .button a{
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    background-color:#FFA12B;
    display:block;
    position:relative;
    padding:20px 40px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .button a:active{
    top:10px;
    background-color:#F78900;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }
  
.button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

  